<%= div_for video do %>

  <h3><%= video.token %></h3>

  <ul>
   <li><%= link_to "Edit vid", new_task_path, remote: true %></li>
   <li><%= link_to "Mark Complete", complete_path, remote: true %></li>
   <li><%= link_to "Delete vid", task, remote: true, method: :delete %></li>
  </ul>
<% end %>
