<% videos = ['d077af7db908d3c6079641e94801022a', '4b9aa462479b96ca27603feeba8ca88c',
             'ec9e1bac64098e759aeadfc26298f5bf', '6b7f8ef36a2e4ea1d4a94af77f25374a',
             '942908063f272b5d192af2fd29033de1', '9f746724eed552a95ab0c61195d679f9',
             'af3fe774fd9ae050124fbb34bea48610', '008133cba879750776bc5fb3d7bb053e',
             'b52564a052d4509abd3b7b2e469151b7', 'c4b59bf6380b1b192889d65716ee5ed6',
             '48858f5bf27c1f2d9a61258ebcf9526f', 'a5267f512db649067bb00fa23d5b2b4a',
             '44e418fe5504f971d4a7fea03815ca6c', 'ad415eb3b789206d771f473d3849dab3']
%>
<div class="recorder">
  <ziggeo></ziggeo>

  <script >


        ZiggeoApi.Events.on("submitted", function (data) {
            alert("The video with token " + data.video.token + " has been submitted!");
            var some = data.video.token
            alert(some);
        });
  </script>

<% @videos.each do |v| %>
<!-- pick a video from a list  -->
  <!-- <a href='#'><%= v %></a> -->
  <%= link_to v %> <br>
<% end %>
</div>

<!-- play that video in the player -->
<div class="displays">
  <ziggeo
    ziggeo-video= '44e418fe5504f971d4a7fea03815ca6c';

  </ziggeo>
</div>


<h1>Listing Videos</h1>

<table>
  <thead>
    <tr>
      <th>Token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <!-- <td><%= video.token %></td> -->
        <%= render video %>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %>
