<div class="coach">
  <div class="coach-image">
    <%= link_to image_tag(''), root_path %>
  </div>
  <br>
  <%= instant_hangout topic: 'My Hangout' %>
   <!-- <img src="http://placehold.it/350x300"> -->
  <strong>Coach:</strong>
    <%= @coach.name %><br>

  <strong>Hang-Out Email:</strong>
    <%= @coach.email %><br>
    <br>
    <%= render 'chat' %>
</div>
  <!-- <div class="wrapper"> -->
    <div class="displays">
      <!-- <p><a href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"
        >Live Chat</a></p> -->

      <div id="light" class="white_content">
        <%= instant_hangout topic: 'My Hangout' %>
          <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"
          >Close</a>
       </div>
       <div id="fade" class="black_overlay"></div>

     <h3>Scenario</h3>
        <ziggeo
          ziggeo-video='03c493830b42b6137e46ee50e195c027'
          ziggeo-width=450
          ziggeo-height=300>
        </ziggeo>

      <h3>Role Model</h3>
      <ziggeo
        ziggeo-video='b4471617706253eba677250fbc10b9f5'
        ziggeo-width=450
        ziggeo-height=390>
      </ziggeo>
    </div>


    <div class="recorder">
      <h3>Practice</h3>
      <ziggeo
        ziggeo-video=""
        ziggeo-width=800
        ziggeo-height=605>
      </ziggeo> <br>
      <!-- <div contenteditable="true" placeholder="Enter text here..."></div> -->

      <!-- Bubble Start -->
  <div class="bubble-speech bubble-left">
  <h2 class="author">
    Dialogue
    </h2>

    <div class="message">
      Unfortunately, we don't allow pet's on the property, but I'd be more than happy to set you up with a nearby pet hotel and offer you a discount for your stay.
    </div>
  </div>
  </div>
  <!-- Bubble End -->

<!-- </div> -->




<script >
      ZiggeoApi.Events.on("submitted", function (data) {
          // better namig variable
          var video = data.video.tokena
      });

</script>
