<!DOCTYPE html>
<html>
<head>
  <title>Ziggeo Facential Version</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Orbitron:900' rel='stylesheet' type='text/css'>


  <link rel="stylesheet" href="//assets-cdn.ziggeo.com/v1-latest/ziggeo.css" />
  <script src="//assets-cdn.ziggeo.com/v1-latest/ziggeo.js"></script>
  <script>
<<<<<<< HEAD
    ZiggeoApi.token = ENV["ZIGGEO_TOKEN"];
=======
    ZiggeoApi.token = "";
>>>>>>> ZiggeoApi
  </script>

  <!-- bootstrap font-awesome cdn -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD

  <main>
    <section class="chat">
      <ol id="conversation">
        <li class="message">
          <a class='delete' href='#'>Delete</a>
          <h3 class="author">Me</h3>
          <p class="message-body">Hi! Let's be friends =D</p>
          <span class="timestamp">01:12</span>
        </li>
      </ol>
    </section>
    <section class="new-message">
      <textarea name="message-body" id="new-message-body" cols="30" rows="5" placeholder="Type here!"></textarea>
    <input type="button" id="new-message-button" value="Send">
    </section>
    <input type="button" id="lonely" value="I'm Lonely">
    </main>
    
=======
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Facential", "#", class: "navbar-brand" %>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
>>>>>>> ZiggeoApi
<%= yield %>

</body>
</html>
