 <!-- /*************************************************************************
 *
 * David L. Kay Educational Productions
 * __________________
 *
 *  [2011] - [2016] Facential:vR
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of David L. Kay Educational Productions and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to David L. Kay Educational Productions
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from David L. Kay Educational Productions.

Code for Facential:vR ver. 2.0.0 build 1
by Rodger Rodriquez
 */ -->

<!DOCTYPE html>
<html>
<head>
  <title>Video Rehearser</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Orbitron:900' rel='stylesheet' type='text/css'>


  <script src="http://code.jquery.com/jquery-2.1.0.min.js" ></script>

  <link rel="stylesheet" href="//assets-cdn.ziggeo.com/v1-latest/ziggeo.css" />
  <script src="//assets-cdn.ziggeo.com/v1-latest/ziggeo.js"></script>
  <script>
    ZiggeoApi.token ='e6a6428e577b5020813c015fdb8c1547';
  </script>

  <!-- bootstrap font-awesome cdn -->
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- # app/views/layouts/application.html.erb -->

<% if current_page?(login_path) || current_page?(root_path) %>
    <%= render "layouts/header" %>
<% else %>
    <%= render "layouts/otherHeader" %>
<% end %>


<%= yield %>

<script type="text/javascript">
  $('.myMenu ul li').hover(function() {
  	$(this).children('ul').stop(true, false, true).slideToggle(300);
  });
</script>
</body>
</html>
